body {
	background-image: url("/images/chat-background.jpg");
  	
}
#app  {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}
.container {
	width: 100%;
	height: 702px;
	background-color: sandybrown;
	margin: 10px;
	margin-top: 5px;
}

a {
  color: #00B7FF;	
}

.friend-list-container {
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
friend-list-container ul{
	position: absolute;
	top: 10%;
	bottom: 0;
	overflow: scroll;
}

.friend-list-container ul li{
	border-bottom: 1px solid blue;
	margin:10px;
}
.friend-list-container ul li .send-message{
	background-color: grey;

}


.friend-list-container ul p{
	margin: 2px;
	

}

.chat-box-container ul{
	font-size: 1.2em;	
	height: 80%;
	overflow: scroll;
}
.chat-box-container {
	border-left: 5px solid blue
}
.chat-box{
	position: absolute;
    width: 90%;
    bottom: 5px;
}

#login-comp{
	margin: auto;
	padding: 20px;

}
.online{
	background-color: #25D366;
}
